html, body {
    font: 95% "Trebuchet MS", sans-serif;
    height: 95%;
    margin: 0;
}

div#global {
    min-height: 100%;
	width: 65%;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}

#languages {
    float: right;
}

#languages li {
    display: inline;
    padding: 0.5em;
}

#profiles li {
    display: inline;
    padding: 0.5em;
}

.groupbox { 
	/*
	float: left;
	clear: none;
	width: auto;
	margin: 10px;
	*/
}

.groupbox h3 {
	color: #ff5a00;
}

div#haut {
	position: relative;
	height: 101px;
}

div#haut h1 {
	position: absolute;
	bottom: 10px;
	font: 3em Georgia, serif;
    margin: 0;
    color: #ff5a00;
}

div#footer {
/*	position: absolute;*/
	width: 100%;
	bottom: 0;
}
	
ul {
	margin: 0;
	padding: 0;
	list-style: none;
    display: block;
	//height: 80px;
	line-height: 20px;
	margin: 2px 0;
}
	
a{
	text-decoration:none;
	color:#3366cc;
}
